<form name="form">
  <input type="hidden" required ng-model="editor.item.title_ru"/>
  <md-toolbar>
    <div layout="row" flex class="fill-height">
      <h2 flex class="md-toolbar-item md-breadcrumb md-headline">
        <a class="md-breadcrumb-page" ui-sref="shows">
          <span class="md-separator-icon"><md-icon aria-hidden="true">keyboard_backspace</md-icon></span> Сериалы
        </a>
        <span class="md-separator-icon"><span class="md-visually-hidden">-</span><md-icon aria-hidden="true">navigate_next</md-icon></span>
        <span class="md-breadcrumb-page">Редактирование сериала</span>
      </h2>
      <%= render "admin/partials/template/locale" %>
    </div>
    <md-progress-linear md-mode="{{editor['loading:get'].mode}}" ng-if="editor['loading:get'].loading"></md-progress-linear>
  </md-toolbar>
  <div md-scroll-y class="wrapper-padding" ng-if="!editor['loading:get'].loading" layout="column">
    <md-content class="md-whiteframe-z1 element-content-part element-content-header-part" flex layout-gt-md="row" layout="column" layout-align="center center">
      <div flex class="header-info">
        <div layout="row" layout-align="start center">
          <img ng-src="{{editor.item.img}}" alt="{{editor.item.title_ru}}" height="150" class="md-poster"/>
          <div flex>
            <h1 class="md-display-1">{{editor.item.title_ru}}</h1>
            <div class="md-subhead">{{editor.item.title_en}} ({{editor.item.year}})</div>
          </div>
        </div>
      </div>
      <div class="md-toolbar-tools absolute-aligned-toolbar">
        <div flex></div>
        <md-menu md-offset="10 40" md-position-mode="target-right target">
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="main.openContextMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="editor.delete(main)">
                <md-icon>delete</md-icon>
                Удалить сериал
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-content>
    <md-content
    class="md-whiteframe-z1 element-content-part action" flex
    ng-if="!editor.states.equal('edit')"
    md-ink-ripple="true"
    ng-click="editor.states.set('edit')">
      <h2 class="md-subheader">Контент</h2>
      <div class="md-body-1">Название сериала, постоянная ссылка (символьный код), описание</div>
    </md-content>
    <md-content class="md-whiteframe-z3 element-content-part expanded" flex ng-if="editor.states.equal('edit')">
      <div class="toolbar" ng-click="editor.states.reset()">
        <h2 class="toolbar-heading"><md-icon>keyboard_arrow_up</md-icon> Контент</h2>
        <md-progress-linear md-mode="{{editor['loading:update'].mode}}" ng-if="editor['loading:update'].loading"></md-progress-linear>
      </div>
      <md-input-container class="md-block">
        <label>Название сериала</label>
        <input ng-model="editor.item.title_ru" md-maxlength="150" required aria-label="name">
      </md-input-container>
      <div layout>
        <md-input-container flex>
          <label>Символьный жанра</label>
          <input ng-model="editor.item.slug_ru" bind-to="editor.item.title_ru" transliterate="editor.transliterate" md-maxlength="255" required aria-label="slug">
        </md-input-container>
        <md-button class="md-icon-button" ng-click="editor.lockTransliteraion()" ng-class="{'md-accent': editor.transliterate}">
          <md-icon>attach_file</md-icon>
          <md-tooltip>
            Заполнять автоматически
          </md-tooltip>
        </md-button>
      </div>
      <md-subheader class="md-primary no-padding-left">Описание</md-subheader>
      <div class="content-editable big-text" ng-model="editor.item.description_ru" contenteditable="true" ui-ace="editor.ace_config"></div>
    </md-content>

    <md-content
    class="md-whiteframe-z1 element-content-part action" flex
    ng-if="!editor.states.equal('ext')"
    md-ink-ripple="true"
    ng-click="editor.states.set('ext')">
      <h2 class="md-subheader">Действия</h2>
      <div class="md-body-1">Синхронизация сезонов и эпизодов</div>
    </md-content>
    <md-content class="md-whiteframe-z3 element-content-part expanded" flex
                ng-if="editor.states.equal('ext')"
                ng-controller="ActiveShowCtrl as show">
      <div class="toolbar" ng-click="editor.states.reset()">
        <h2 class="toolbar-heading"><md-icon>keyboard_arrow_up</md-icon> Действия</h2>
        <md-progress-linear md-mode="{{editor.model.$api.loading.mode}}" ng-if="editor.model.$api.loading.loading"></md-progress-linear>
      </div>
      <md-list>
        <md-list-item ng-click="show.seasons(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать сезоны</p>
        </md-list-item>
        <md-progress-linear md-mode="{{editor.model.$api.progress.sync_seasons.mode}}" ng-if="editor.model.$api.progress.sync_seasons.loading" value="{{editor.model.$api.progress.sync_seasons.percentage}}"></md-progress-linear>
      </md-list>
      <md-list>
        <md-list-item ng-click="show.trakt(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать информацию с Trakt.tv</p>
        </md-list-item>
        <md-list-item ng-click="show.ids(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать Ids</p>
        </md-list-item>
        <md-list-item ng-click="show.tmdb(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать tmdb</p>
        </md-list-item>
        <md-list-item ng-click="show.fanart(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать информацию с Fanart</p>
        </md-list-item>
        <md-list-item ng-click="show.translate(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать перевод</p>
        </md-list-item>
        <md-list-item ng-click="show.episodes(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать видео эпизодов</p>
        </md-list-item>
        <md-list-item ng-click="show.titles(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать названия эпизодов с кинопоиска</p>
        </md-list-item>
        <md-list-item ng-click="show.pics(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать изображения</p>
        </md-list-item>
        <md-list-item ng-click="show.rating(editor, $event)">
          <md-icon>sync</md-icon>
          <p>Синхронизировать рейтинг</p>
        </md-list-item>
      </md-list>
    </md-content>

    <!-- seasons -->
    <div ng-repeat="season in editor.item.season">
      <md-content
      class="md-whiteframe-z1 element-content-part action" flex
      ng-if="!editor.states.equal('season_' + season.id)"
      md-ink-ripple="true"
      ng-click="editor.edit_linked_from_many('season', season)">
        <div layout="row" layout-align="start center">
          <img ng-src="{{season.img}}" alt="{{editor.item.title_ru}} {{season.number}}" height="50" class="md-poster"/>
          <div flex>
            <h2 class="md-subheader">Сезон {{season.number}}</h2>
            <div class="md-body-1">Всякие настройки</div>
          </div>
        </div>
      </md-content>
      <md-content class="md-whiteframe-z3 element-content-part expanded" flex ng-if="editor.states.equal('season_' + season.id)">
        <div class="toolbar" ng-click="editor.states.reset()">
          <h2 class="toolbar-heading"><md-icon>keyboard_arrow_up</md-icon> Сезон {{season.number}}</h2>
          <md-progress-linear md-mode="{{editor.linked_models.Season.loading['seasons:get'].mode}}" ng-if="editor.linked_models.Seo.loading['seasons:get'].loading"></md-progress-linear>
          <div class="md-toolbar-tools absolute-aligned-toolbar">
            <div flex></div>
            <md-menu md-offset="10 40" md-position-mode="target-right target">
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="main.openContextMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin>more_vert</md-icon>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="">
                    <md-icon>undo</md-icon>
                    Отменить все изменения
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
        <div class="edit-box animate-show" ng-if="!editor.linked_models.Season.loading['seasons:get'].loading">

        </div>
      </md-content>
    </div>
    <!-- end seasons -->
  </div>
  <div flex></div>
  <div layout="row">
    <md-button ng-click="editor.save()" class="md-primary md-fab md-fab-bottom-right">
      <md-icon>done</md-icon>
      <md-tooltip>
        Сохранить все изменения
      </md-tooltip>
    </md-button>
  </div>
</form>
