<div class="rotator-ad-episode">
  <h3>Реклама</h3>
  <p>Просматривая рекламу, вы помагаете поддерживать наш ресурс.</p>

  <noindex id="s-96574110ac657232">
    !function(t,e,n,o,a,c,s){t[a]=t[a]||function(){(t[a].q=t[a].q||[]).push(arguments)},t[a].l=1*new Date,c=e.createElement(n),s=e.getElementsByTagName(n)[0],c.async=1,c.src=o,s.parentNode.insertBefore(c,s)}(window,document,"script",("https:"==location.protocol?"https:":"http:")+"//videosmor.com/player/","vbm"); vbm('get', {"platformId":55698,"format":2,"align":"bottom","width":"600","height":"360","sig":"96574110ac657232"});
  </noindex>
</div>
