<div class="widget-qiwi">
  <div class="row">
    <div class="small-12 columns text-center widget-pre">
      <p>Дорогие друзья! Спасибо, что среди вас есть те, кому не наплевать на судьбу нашего ресурса. В прошлом месяце,
        благодаря самым отзывчивым из вас, нам удалось собрать <b><%= Donation.prev_month.round %> р.</b>
        Это в несколько раз меньше того, сколько мы тратим ежемесячно, но эта помощь очень важна.
        Большое спасибо вам за активную поддержку!</p>

      <h5>В этом месяце собрано: <b><%= Donation.current_month.round %> р.</b> (<%= Donation.current_month_progress %>%)</h5>
      <div class="progress small-12 large-8 primary round">
        <span class="meter" style="width: <%= Donation.current_month_progress %>%"></span>
      </div>

      <h2>Поддержите нас!</h2>

      <p>Количество постоянных посетителей нашего сайта растет с каждым днем.
        И это не удивительно, ведь только у нас вы можете посмотреть свои любимые сериалы без надоедливой рекламы и бесконечных попап окон.
        Однако на поддержание работоспособности ресурса приходится платить не малые деньги.
        И платить приходится нам из своего кармана, который увы, не резиновый.
        На данный момент - это <b>18 000 р.</b> ежемесячно.</p>

      <p>Если вы хотите и дальше смотреть ваши любимые сериалы у нас и пользоваться новым функционалом,
        который будет разрабатываться только при вашей поддержке, не поленитесь, поддержите проект.</p>

      <p>P.S.: в сообщении оставляйте пожелания по функционалу.
        В ближайшее время планируем вывести страницу с сообщениями от донатеров в реальном ремени и шкалу
        с собранными в этом месяце средствами. </p>
    </div>
    <div class="small-12 columns text-center widget-body">
      <a href="http://donatepay.ru/donation/hdserialstv" target="_blank" class="button">Поддержать!</a>
    </div>
  </div>
</div>
</div>
