<div class="row widget-qiwi expanded">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns text-center widget-pre">
        <p>Дорогие друзья! Спасибо, что среди вас есть те, кому не наплевать на судьбу нашего ресурса. В прошлом месяце,
          благодаря самым отзывчивым из вас, нам удалось собрать 4651.70 р.
          Это в несколько раз меньше того, сколько мы тратим ежемесячно, но эта помощь очень важна.
          Большое спасибо вам за активную поддержку!</p>

        <h2>Поддержите нас!</h2>

        <p>Количество постоянных посетителей нашего сайта растет с каждым днем.
          И это не удивительно, ведь только у нас вы можете посмотреть свои любимые сериалы без надоедливой рекламы и бесконечных попап окон.
          Однако на поддержание работоспособности ресурса приходится платить не малые деньги.
          И платить приходится нам из своего кармана, который увы, не резиновый.
          На данный момент - это 18 000 рублей ежемесячно.</p>

          <p>Но это еще не все! Сервисы с видеоконтентом постоянно совершенствуют защиту от таких халявщиков как мы,
          и нам приходится переписывать наши скрипты, тратя на это драгоценные часы своей жизни. Вы можете заметить, что плеер иногда недоступен,
          именно в эти моменты жадные видеохостеры меняют алгоритмы защиты своего контента, а мы пытаемся их взломать.</p>

          <p>Если вы хотите и дальше смотреть ваши любимые сериалы у нас и пользоваться новым функционалом,
            который будет разрабатываться только при вашей поддержке, не поленитесь, поддержите проект.</p>

          <p>P.S.: в сообщении оставляйте пожелания по функционалу.
            В ближайшее время планируем вывести страницу с сообщениями от донатеров в реальном ремени и шкалу
            с собранными в этом месяце средствами. </p>
      </div>
      <div class="small-12 columns text-center widget-body">
        <a href="http://donatepay.ru/donation/hdserialstv" target="_blank" class="button">Поддержать!</a>
      </div>
    </div>
  </div>
</div>
