<div class="row widget-qiwi expanded">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns text-center widget-pre">
        <p>Внимание халявщики! Количество постоянных посетителей нашего сайта растет с каждым днем.
          И это не удивительно, ведь только у нас вы можете посмотреть свои любимые сериалы без надоедливой рекламы и бесконечных попап окон.
          Однако за всю эту прелесть нужно платить. И платить приходится нам из своего кармана, который увы, не резиновый.
          Расходы на сервер и обновление платформы увеличиваются с каждым новым постоянным халявщиком.
          На данный момент - это 18 000 рублей ежемесячно. Все резервы, выделенные нами на этот проект исчерпаны :(</p>

          <p>Но это еще не все! Сервисы с видеоконтентом постоянно совершенствуют защиту от таких халявщиков как мы,
          и нам приходится переписывать наши скрипты, тратя на это драгоценные часы своей жизни. Вы можете заметить, что плеер иногда недоступен,
          именно в эти моменты жадные видеохостеры меняют алгоритмы защиты своего контента, а мы оперативно переписываем наши умные программки.</p>

          <p>Если вы хотите и дальше смотреть ваши любимые сериалы у нас и пользоваться новым функционалом,
            который будет разрабатываться только при вашей поддержке, не поленитесь, поддержите проект.</p>

          <p>P.S.: в сообщении оставляйте пожелания по функционалу.
            В ближайшее время планируем вывести страницу с сообщениями от донатеров в реальном ремени и шкалу с собранными в этом месяце средствами. </p>
      </div>
      <div class="small-12 columns text-center widget-body">
        <a href="http://donatepay.ru/donation/hdserialstv" target="_blank" class="button">Поддежрать!</a>
      </div>
    </div>
  </div>
</div>
