<div class="row widget-qiwi expanded">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns text-center widget-pre">
        <p>Внимание халявщики! Количество постоянных посетителей нашего сайта растет с каждым днем.
          И это не удивительно, ведь только у нас вы можете посмотреть свои любимые сериалы без надоедливой рекламы и бесконечных попап окон.
          Однако за всю эту прелесть нужно платить. И платить приходится нам из своего кармана, который увы, не резиновый.
          Расходы на сервер и обновление платформы увеличиваются с каждым новым постоянным халявщиком.
          На данный момент - это 18 000 рублей ежемесячно. Если вы хотите и дальше смотреть ваши любимые сериалы у нас,
          и пользоваться новым функционалом, который будет разрабатываться только при вашей поддержке, не поленитесь, поддержите проект.
        </p>
      </div>
      <div class="small-12 columns text-center widget-body">
        <iframe
          src="https://qiwi.me/action/widget/48e959d9-6621-4a34-be80-773ccb14d0be"
          width="520" height="260"
          frameBorder="0"
          ref="widget"></iframe>
      </div>
    </div>
  </div>
</div>
