<footer>
  <div class="row">
    <div class="columns small-12">
      <p>Ресурс hd-serials.tv действует в соответствии с законодательством Российской Федерации о защите информации и авторских прав.</p>
      <p>Весь размещенный на сайте контент представляет собой материал, находящийся в свободном доступе для просмотра и скачивания в сети Интернет. </p>
    </div>
  </div>
</footer>