<script type="text/ng-template" id="messageMdl">
  <div class="padded-content-wrapper">
    <div class="row modal-header">
      <div class="small-12 columns">
        <h1>Внимание</h1>
      </div>
    </div>
    <div class="row modal-body">
      <div class="small-12 columns">
        {{message}}
      </div>
    </div>
  </div>
</script>