@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "angular-material";
@import "./material/*";

a {
  text-decoration: none;
}

body {
  overflow: hidden!important;
}

@mixin ng-if-fade($opacity_to){
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: $opacity_to;
    }
  }

  &.ng-leave {
    opacity: $opacity_to;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

@mixin loading-fade($opacity_to){
  transition: opacity 0.35s ease;
  &.loading-add {
    opacity: 1;
    &.loading {
      opacity: $opacity_to;
    }
  }

  &.loading {
    opacity: $opacity_to;
    &.loading-remove {
      opacity: 1;
    }
  }
}

@mixin ng-if-transform($transform){

  &.ng-enter, &.ng-leave {
    transform: translateZ(0);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity:0;
    transform: $transform;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity:1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
  }
}

.loading-fade {
  @include loading-fade(0.4);
}

.animate-show {
  transition: all 0.3s ease;
  @include ng-if-fade(1);
}

.fade-to-bottom {
  transition: all 0.35s ease;
  @include ng-if-transform(translate3d(0,20px,0));
}

.md-toast {
  background-color: #323232;
}

.toast-icon {
  margin-left: -10px;
  margin-right: 10px;
  &.white-icon {
    color: #fff;
  }
}


.md-poster {
  margin-right: 10px;
}
.p-l-20 {
  padding-left: 20px;
}
