@import "foundation_and_overrides";
@import "*";

.top-menu {
  transition: background 0.4s ease;
  background: #3653AF;
}

.top-menu.fixed {
  background: rgba(0, 0, 0, .8);
}

.mainpage-slider li{
  max-height: 500px;
  overflow: hidden;
}

.mainpage-slider li img {
  transform: translate3d(0, -15%, 0)
}

.top-bar-section ul li {
  background: $transparent;
}

.mainpage {
  .show_item .title {
    display: block;
    padding-top: rem-calc(6);
    font-size: rem-calc(12);
    line-height: rem-calc(14);
  }

  .show-episode {
    font-size: rem-calc(12);
    line-height: rem-calc(14);

    img {
      margin-bottom: rem-calc(5);
    }

    span, a {
      display: block;
      color: $tuatara;
    }

    span b {
      color: $primary-color;
    }

    .show-title {
      margin-bottom: rem-calc(5);
    }

    .episode-date {
      margin-top: rem-calc(5);
    }

    .episode-title {
      font-size: percentage(1.4);
      line-height: rem-calc(20);
      color: $primary-color;
    }
  }
  .about-block {
    p {
      font-size: rem-calc(12);
    }
  }
}


@media #{$medium-up} {
  .show-details .show-poster img{
    position: relative;
    top: -60px;
  }
}


.show-seasons {
  margin-bottom:20px;
}

.show-fanart {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.show-fanart img {
  transform: translate3d(0,-10%,0);
}