@import "foundation_and_overrides";

@media #{$medium-up} {
  .show-details .show-poster img{
    position: relative;
    top: -60px;
  }
}

.show-seasons {
  margin-bottom:20px;
}

.show-fanart {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.show-fanart img {
  transform: translate3d(0,-10%,0);
}